:root{
    --back-color:#F1E4FF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    width: 100wh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 600px;
    width: 600px;
    background-color: white;
    position: relative;
    
}
.circle{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 100%;
}
.outer{
    border: 4px solid var(--back-color);
    animation:rotateall 55s linear infinite;

}

.outer-inner{
    height: 70%;
    width: 70%;
    top: 15%;
    left: 15%;
    border: 6rem solid var(--back-color);
    animation:rotateopp 55s linear infinite;
    
}
#amazon{
    height: 40%;
    position: absolute;
    top: -10%;
    animation:rotateopp 55s linear infinite;
}
#apple{
    height: 40%;
    position: absolute;
    top: -15%;
    left: 50%;
    animation:rotateopp 55s linear infinite;
}
#google{
    height: 40%;
    position: absolute;
    top: 20%;
    right: -18%;
    animation:rotateopp 55s linear infinite;
}
#netflix{
    height: 40%;
    position: absolute;
    bottom: -10%;
    right: 0%;
    animation:rotateopp 55s linear infinite;
}
#micosoft{
    height: 40%;
    position: absolute;
    bottom: -15%;
    right: 50%;
    animation:rotateopp 55s linear infinite;
}
#meta{
    height: 40%;
    position: absolute;
    top: 35%;
    left: -18%;
    animation:rotateopp 55s linear infinite;
}
#ola{
    height: 90%;
    position: absolute;
    top: 50%;
    left: 0%;
    animation:rotateall 55s linear infinite;
}
#flipkard{
    height: 90%;
    position: absolute;
    top: 0%;
    left: -40%;
    animation:rotateall 55s linear infinite;
}
#linkedin{
    height: 90%;
    position: absolute;
    top: -50%;
    left: 0%;
    animation:rotateall 55s linear infinite;
}
#adobe{
    height: 90%;
    position: absolute;
    top: 0%;
    left: 50%;
    animation:rotateall 55s linear infinite;
}
@keyframes rotateall{
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(180deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}
@keyframes rotateopp{
    0%{
        transform: rotateZ(-0deg);
    }
    50%{
        transform: rotateZ(-180deg);
    }
    100%{
        transform: rotateZ(-360deg);
    }
}

